<!-- ##### Footer Area Start ##### -->
<footer class="footer-area" *ngIf="loggedIn()">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-5">
                <p> CookNow <i class="fa fa-heart-o" aria-hidden="true"></i></p>
            </div>
            <div class="col-12 col-sm-7">
                <!-- Footer Nav -->
                <div class="footer-nav">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Recipes</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>